@using WebApi.Models.ViewModels
<div class="modal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Modal title</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" @onclick="Cancel">Отмена</button>
                <button type="button" class="btn btn-primary" @onclick="Confirm">Удалить</button>
            </div>
        </div>
    </div>
</div>

@code {
    
    [Parameter]
    public UserViewModel? UserViewModel { get; set; }

    private string _title = "";
    
    public EventCallback<bool> OnClose { get; set; }

    protected override void OnParametersSet()
    {
        _title = $"Удалить пользователя {UserViewModel.Name} {UserViewModel.Surname} {UserViewModel.PatronymicName}?";
    }

    private void Confirm()
    {
        OnClose.InvokeAsync(true);
    }

    private void Cancel()
    {
        OnClose.InvokeAsync(false);
    }
}